.company-header {
    font-family: 'Roboto';
    font-size: 36px;
    text-transform: uppercase;
    margin: 4px 240px 30px;
    width: fit-content;
}

.about-company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.company-pics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 705px;
    row-gap: 33px;
    column-gap: 30px;
}

.company-pic-up {
    width: 705px;
    height: 202px;
}

.company-pic-low {
    width: 337px;
    height: 162px;

}

.company-pic-up img,
.company-pic-low img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.company-desciption {
    width: 705px;
    font-size: 16px;
    font-family: 'Open Sans';
}

.company-desciption p {
    margin: 0;
}

.company-desciption p:first-child {
    font-weight: 700;
    margin: 0 0 20px;
}

.company-features {
    list-style: none;
    padding-left: 0;
}

.company-features li {
    position: relative;
    padding-left: 39px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.company-features li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    background: #EE753E url("../images/check.svg") center no-repeat;
    background-size: 12px 8px;
    border-radius: 100px;
}

.more-company {
    background-color: #272A33;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: 8px 30px 12px;
    width: fit-content;
    display: block;
    margin: 30px 0;
    text-decoration: none;
}

@media (max-width: 1441px) {
    .company-header {
        margin-top: 80px;
        margin-left: 140px;
    }

    .company-pics {
        width: 565px;
    }

    .company-pic-up {
        width: 565px;
        height: 161.8865203857422px;
    }

    .company-pic-low {
        width: 270.0780029296875px;
        height: 129.8297882080078px;

    }

    .company-pics {
        row-gap: 26.45px;
        column-gap: 24.04px;
    }

    .about-company {
        width: calc(100% - 280px);
        margin-left: auto;
        margin-right: auto;
        max-width: 1160px;
    }

    .company-desciption {
        width: 565px;
    }
}

@media (max-width: 1161px) {
    .company-header {
        margin: 50px 196px;
    }

    .company-pics {
        width: 100%;
        max-width: 768.0001220703125px;
    }

    .about-company {
        flex-direction: column;
        align-items: center
    }

    .company-pic-up {
        width: 100%;
        max-width: 768px;
        height: 220.05105590820312px;
    }

    .company-pic-low {
        width: 100%;
        max-width: 367.1148681640625px;
        height: 176.47659301757812px;

    }

    .company-pics {
        row-gap: calc(768px - 367.1148681640625px-367.1148681640625px);
        column-gap: calc(902.2086791992188px - 220.05105590820312px-176.47659301757812px);
    }

    .company-desciption {
        width: 768px;
    }
}

@media (max-width: 769px) {
    .company-header {
        margin: 50px auto 30px;
        max-width: 576px;
        width: calc(100% - 192px);
    }

    .company-pics {
        max-width: 576px;
        width: calc(100% - 192px);
    }

    .company-pic-up {
        width: 100%;
        height: 165.03822326660156px;
    }

    .company-pic-low {
        width: calc(50% - 12.255px);
        max-width: 275.33612060546875px;
        height: 132.35739135742188px;

    }

    .company-pics {
        row-gap: 26.96px;
        column-gap: 24.51px;
    }

    .company-desciption {
        max-width: 576px;
        width: calc(100% - 192px);
    }
}

@media (max-width: 577px) {
    .company-header {
        margin: 50px auto;
        width: calc(100% - 30px);
        max-width: 360px;
    }

    .company-pics {
        width: 359.9999694824219px;
    }

    .company-pic-up {
        width: 359.9999694824219px;
        height: 103.14887237548828px;
    }

    .company-pic-low {
        width: 172.0850830078125px;
        height: 82.72335052490234px;

    }

    .company-pics {
        row-gap: 16.85px;
        column-gap: 15.32px;
    }

    .company-desciption {
        width: 360px;
    }
}

@media (max-width: 391px) {
    .company-header {
        margin: 50px auto;
        width: calc(100% - 30px);
        max-width: 360px;
    }
}