@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.header-logo {
    width: 180px;
    height: 38.57px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 21px 240px;
    width: 100%;
    box-sizing: border-box;
    transition: margin-bottom 0.5s ease;
}

.main-header.menu-open {
    margin-bottom: 242px;
    transition: margin-bottom 0.5s ease;
}

.header-buttons {
    list-style-type: none;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    gap: 80px;
}

.header-buttons-phone {
    padding: 0;
    list-style-type: none;
    background-color: #FFFFFF;
    width: fit-content;
}

.header-buttons-phone li a {
    transition: color 0.3s ease-out;
}

.header-buttons li a,
.header-buttons-phone li a {
    color: #272A33;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    text-decoration: none;
}

.header-buttons li a:hover,
.header-buttons-phone li a:hover {
    color: #EE753E;
}

.toggle-nav {
    padding: 0;
    border: none;
    outline: none !important;
    background-color: transparent;
    cursor: pointer;
    display: none;
    width: 46px;
    height: 46px;
}

.main-nav {
    display: flex;
}

.main-nav-phone {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: -100%;
    top: 89.64px;
    transition: left 0.5s ease-out;
}

.hr-phone {
    color: #EAEFF4;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out, opacity 0.7s ease-out;
    opacity: 0;
}

.header-buttons-phone .hr-phone {
    width: 100%;
}

.main-nav-phone>.hr-phone:first-child {
    width: 100%;
    margin-left: -196px;
}

@media (max-width: 1441px) {
    .main-header {
        padding: 21px 140px;
        width: 100%;
    }
}

@media (max-width: 1161px) {
    .main-header {
        padding: 20px 196px;
        width: 100%;
    }

    .toggle-nav {
        display: flex;
    }

    .main-nav {
        display: none;
    }

    .main-nav-phone {
        display: flex;
    }

    .hr-phone.hr-open {
        transform: translateX(0);
        opacity: 1;
    }

    .hr-phone.hr-closed {
        transform: translateX(-100%);
        opacity: 0;
    }

    .main-nav-phone.nav-open {
        left: 196px;
    }

    .main-nav-phone.nav-closed {
        left: -100%;
    }

}

@media (max-width: 769px) {
    .main-header {
        padding: 20px 96px;
        width: 100%;
    }

    .main-nav-phone>.hr-phone:first-child {
        margin-left: -96px;
    }

    .main-nav-phone.nav-open {
        left: 96px;
    }
}

@media (max-width: 577px) {
    .main-header {
        padding: 20px calc(50% - 180px);
        width: 100%;
    }

    .main-nav-phone>.hr-phone:first-child {
        left: 106px;
    }

    .main-nav-phone>.hr-phone:first-child {
        margin-left: calc(0- 50%+180px);
    }

    .main-nav-phone.nav-open {
        left: calc(50% - 180px);
    }
}

@media (max-width: 391px) {
    .main-header {
        padding: 16.82px 13px;
        width: 100%;
    }

    .main-nav-phone>.hr-phone:first-child {
        margin-left: -13px;
    }

    .main-nav-phone.nav-open {
        left: 13px;
    }
}